@media (min-width: 1200px) {
    #barang {
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        /* background-image: url(./img/bg.jpg); */
    }

    .card {
        border-color:darkgreen;

    }
}

body {
    background-image: url(./img/bg1.png);
}

.head {
    text-align: center;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    /* background-image: url(./img/bg1.png); */
}

.logo {
    width: 70px;
    height: 70px;
}
.card {
    border-color:darkgreen;
    border: 0px;
}


#barang {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: rgb(255, 255, 255); */
}



.bid {
    text-align: center;
}

.pasangHarga {
    margin-top: 30px;
}

.nama {
    margin-bottom: -3px;
    margin-top: 20px;
    font-family: 'Mukta', sans-serif;
}

.label {
    font-family: 'Mukta', sans-serif;
    margin-top: 30px;
}


.Bid2 {
    margin-left: 5px;
}