@media (min-width: 1200px) {
    #barang {
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        /* background-image: url(./img/bg.jpg); */
    }

    .card {
        border-color:darkgreen;

    }

    .inputNama {
        margin-left: 400px;
        margin-right: 0px;
    
        margin-bottom: -3px;
        margin-top: 20px;
        font-family: 'Mukta', sans-serif;
    }


    /* untuk Input page */
    #input{
        padding-left: 100px;
        padding-right: 100px;
    }

    .masuk {
        margin-left: -100px;
    }
}

body {
    background-image: url(./img/bg5.png);
}

.head {
    text-align: center;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
    /* background-image: url(./img/bg1.png); */
}

.logo {
    width: 70px;
    height: 70px;
}
.card {
    border-color:darkgreen;
    border: 0px;
}


#barang {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: rgb(255, 255, 255); */
}



.bid {
    text-align: center;
}

.pasangHarga {
    margin-top: 10px;
}

.nama {
    margin-bottom: -3px;
    margin-top: 20px;
    font-family: 'Mukta', sans-serif;
}

.label {
    font-family: 'Mukta', sans-serif;
    margin-top: 30px;
}


.Bid2 {
    margin-left: 5px;
}

.inputNama {
    margin-left: 50px;
    margin-right: 50px;

    margin-bottom: -90px;
    margin-top: 100px;
    font-family: 'Mukta', sans-serif;
}







/* Untuk Input Page */
#input {
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 30px;
}
